/* Write your CSS here */
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planetImg {
  width: 400px;
}
.planet-name {
  color: #ffffff;
}
.planet-description {
  color: #ffffff;
}
